<ion-toolbar color="tertiary">
  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-menu">ร้านกุ้งพระราม 7 </ion-title>
  </div>
</ion-toolbar>

<ion-content [fullscreen]>
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/15promax.webp" alt="">
          <ion-label>
            <div class="center">
              iPhone 15 pro Max <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/f23fe.webp" alt="">
          <ion-label>
            <div class="center">
              F 23 Fe <br>
              <div class="speak">ราคา 40,000 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/ipadair5.webp" alt="">
          <ion-label>
            <div class="center">
              iPad Air 5 <br>
              <div class="speak">ราคา 50,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/mi-14tpro.jpg" alt="">
          <ion-label>
            <div class="center">
              Mi 14T Pro <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../../assets/img/mipad5.jpg" alt="">
          <ion-label>
            <div class="center">
              MiPad 5 <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/s24.webp" alt="">
          <ion-label>
            <div class="center">
              S23 <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="img-top">
            <img src="../../../assets/img/ts9.jpg" alt="">
          </div>
          <ion-label>
            <div class="center">
              TS9 <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
        <ion-col>
          <img src="../../../assets/img/vivo-y20.png" alt="">
          <ion-label>
            <div class="center">
              Vivo Y20 <br>
              <div class="speak">ราคา 44,900 บาท</div>
              <ion-button><ion-icon name="cart-outline"></ion-icon>สั่งซื้อ</ion-button>
            </div>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>