<ion-content [fullscreen]>
  <div class="body">
    <ion-grid>
      <!--แถวที่ 1 -->
      <ion-row>
        <div class="img">
          <img src="../../assets/img/logo App.png" alt="" width="40%">
        </div>
      </ion-row>
      <!--แถวที่ 2 -->
      <ion-row>
        <h1>ร้านุกุ้งพระราม 7</h1>
      </ion-row>
      <!--แถวที่ 3 -->
      <ion-row>
        <a routerLink="/index"><ion-button color="warning" >เข้าสู่ระบบ</ion-button></a>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>